<style>
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  body {
    font-family: "Ebrima", sans-serif;
    background-color: darkgray;
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    padding: 0%;
    color: #565859 !important;
  }

  #wrapper {
    /* background: #F6FAFF; */
    background: #FFFFFF;
  }

  img {
    width: 100%;
    height: auto;
  }

  .banner {
    text-align: center;
    padding-top: 55px;
    margin-bottom: 3%;
  }

  .one-col {
    max-width: 98%;
    font-family: sans-serif;
  }

  .one-col button {
    padding: 10px 20px;
    width: 80%;
    height: auto;
    font-size: 1.2em;
    margin: 0 auto;
    display: block;
    border: none;
    font-weight: bold;
    background: rgb(250, 250, 250);
    background: linear-gradient(90deg, rgba(250, 250, 250, 1) 0%, rgba(252, 211, 199, 1) 0%, rgba(252, 207, 193, 1) 0%, rgba(255, 140, 105, 1) 43%);
    color: #FAFAFA;
    box-shadow: 0 6px 8px rbga(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.4s;
  }

  .one-col button:hover {
    border-radius: 30px;
  }

  h3 {
    letter-spacing: 1%;
    text-align: justify;
  }

  p {
    text-align: justify;
    color: #565859;
  }

  .line {
    clear: both;
    height: 2px;
    background-color: black;
  }

  .division {
    padding-bottom: 150px;
  }

  .footer {
    background-color: #E26944;
  }

  a {
    text-decoration: none;
  }

  .email {
    text-align: left;
  }

  .domain {
    color: rgba(255, 255, 255, 0.842);
    text-align: left;
    font-family: sans-serif;
    padding: 1%;
  }
</style>

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta"viewport" content="width=device-width, initial-scales=1.0">
    <title> Document </title>
</head>

<body>
  <div id="wrapper">
    <div class="banner">
      <img src="https://okhosting.com/resources/uploads/2019/02/pug-html.png" width="513" height="251" alt="PUG">
    </div>

    <div class="one-col">
      <h3>Has solicitado el cambio de contraseña</h3>
      <br>
      <div>
        <p>Se ha solicitado el cambio de contraseña ve al siguiente enlace para realizar el cambio.</p>
      </div>
      <a href="{{url}}" target="_blank"> <button> IR A MI CUENTA</button> </a>
    </div>
    <div class="division">

    </div>

    <div class="footer">
      <h4 class="domain"> Mensaje enviado desde {{siteName}}</h4>
    </div>
  </div>

</body>

</html>